// raleway-300 - latin
@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/raleway-v28-latin-300.woff2') format('woff2'),
        url('/fonts/raleway-v28-latin-300.woff') format('woff');
}

// raleway-500 - latin
@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/raleway-v28-latin-500.woff2') format('woff2'),
        url('/fonts/raleway-v28-latin-500.woff') format('woff');
}

// raleway-600 - latin
@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/raleway-v28-latin-600.woff2') format('woff2'),
        url('/fonts/raleway-v28-latin-600.woff') format('woff');
}

// raleway-800 - latin
@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/raleway-v28-latin-800.woff2') format('woff2'),
        url('/fonts/raleway-v28-latin-800.woff') format('woff');
}

// raleway-800italic - latin
@font-face {
    font-display: swap;
    font-family: Raleway;
    font-style: italic;
    font-weight: 800;
    src: url('/fonts/raleway-v28-latin-800italic.woff2') format('woff2'),
        url('/fonts/raleway-v28-latin-800italic.woff') format('woff');
}
