html {
    box-sizing: border-box;
    color-scheme: dark light;

    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-text-size-adjust: 100%;
}

* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}
