---
import MainSiteLayout from '../layouts/MainSiteLayout.astro'
import MachCarousel from '../components/Carousel/MachCarousel'
---

<MainSiteLayout>
    <h1>Heading level H1</h1>
    <h2>Heading level H2</h2>
    <h3>Heading level H3</h3>
    <h4>Heading level H4</h4>
    <h5>Heading level H5</h5>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deleniti perspiciatis fugit
        non vitae, sed perferendis, accusantium voluptates <strong>I'm strong</strong> accusamus tenetur
        natus modi saepe ea ducimus enim rem doloribus porro <em>and I'm emphasis</em> pariatur?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deleniti perspiciatis fugit
        non vitae, sed perferendis, accusantium voluptates <strong>I'm strong</strong> accusamus tenetur
        natus modi saepe ea ducimus enim rem doloribus porro <em>and I'm emphasis</em> pariatur?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deleniti perspiciatis fugit
        non vitae, sed perferendis, accusantium voluptates <strong>I'm strong</strong> accusamus tenetur
        natus modi saepe ea ducimus enim rem doloribus porro <em>and I'm emphasis</em> pariatur?
    </p>

    <MachCarousel client:visible />

    <ul>
        <li>Item Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, molestiae.</li>
        <li>Item Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
        <li>
            Item Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sed, eligendi minus
            quod placeat voluptate.
        </li>
    </ul>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <blockquote>
        Blockquote
        <cite>Cite</cite>
    </blockquote>
</MainSiteLayout>
