@use './functions/functions.fluid' as *;

@forward './base/fonts';
@forward './base/typography';

:where(a) {
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

html {
    color-scheme: light;

    &[color-scheme='dark'] {
        color-scheme: dark;
    }
}

body {
    --_contain: 80rem;

    display: grid;
    grid-template-columns:
        [fullbleed-start] minmax(var(--site-space, 1rem), 1fr)
        [main-start] minmax(min(100% - (var(--site-space, 1rem) * 2), var(--_contain)), 1fr)
        [main-end]
        minmax(var(--site-space, 1rem), 1fr) [fullbleed-end];
    grid-template-rows: auto 1fr auto;
    margin: 0;
    background-image: var(--gradient-3);
    font-family: Raleway, sans-serif;
    font-size: var(--fs-fluid-base);
    font-weight: var(--fw-300);
    min-block-size: 100vb;
    line-height: 1.5;
}

main {
    display: grid;
    grid-template-columns: inherit;
    grid-column: fullbleed;
    align-content: flex-start;

    > * {
        grid-column: main;
    }
}

header,
footer {
    grid-column: main;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: #{fluid(4px, 24px)};
    border-block-end: 1px solid hsl(var(--pink-7-hsl));

    > a {
        font-size: var(--fs-fluid-h5);
        font-weight: var(--fw-800);
        text-decoration: none;
    }
}

footer {
    padding-block: #{fluid(4px, 8px)};
    place-self: center;
    font-size: var(--fs-0);
}

.flow > *:where(:not(:first-child)) {
    margin-block-start: var(--flow-space, 1em);
}
