// Using sass together with css cascade layers as read in
// https://www.smashingmagazine.com/2022/01/introduction-css-cascade-layers/

@use 'sass:meta';
@use 'sass:list';

$layers: 'props', 'base' !default;

// Outputs the list of layers
@layer #{$layers};

// Outputs each layer's styles via their include
@each $layer in $layers {
    @layer #{$layer} {
        @include meta.load-css($layer);
    }
}

@layer demo {
    h1 {
        color: hsl(var(--pink-7-hsl));
    }

    main {
        inline-size: min(40rem, calc(100% - 2rem));
    }

    pre {
        overflow-x: auto;
        padding: var(--size-3);
        background: var(--surface-2);
        max-inline-size: 80vw;
        border-radius: var(--radius-3);
    }
}
